.screen-13 {
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen-13 .the-berg-4 {
  background-color: #fafafa;
  display: block;
  height: 4697px;
  overflow: hidden;
  width: 1440px;
}

.screen-13 .overlap-191 {
  height: 4728px;
  left: -5px;
  position: relative;
  width: 1446px;
}

.screen-13 .rectangle-82 {
  height: 596px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1440px;
}

.screen-13 .rectangle-83 {
  background: linear-gradient(
    180deg,
    #004e8b 0%,
    rgba(0, 86, 151, 0.1) 42.36%,
    rgba(0, 87, 152, 0) 100%
  );
  height: 596px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.screen-13 .header-19 {
  background-color: transparent;
  height: 96px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.screen-13 .overlap-group-86 {
  height: 96px;
  position: relative;
  width: 1440px;
}

.screen-13 .search-13 {
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 20px;
  height: 40px;
  left: 1259px;
  position: absolute;
  top: 28px;
  width: 40px;
}

.screen-13 .icon-38 {
  height: 24px;
  left: 7px;
  position: relative;
  top: 7px;
  width: 24px;
}

.screen-13 .vector-47 {
  height: 20px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 20px;
}

.screen-13 .header-20 {
  height: 96px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.screen-13 .menu-42 {
  height: 25px;
  left: 1054px;
  position: absolute;
  top: 39px;
  width: 163px;
}

.screen-13 .destination-14 {
  color: #ffffff;
  font-family: "Switzer-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: -4px;
  white-space: nowrap;
  width: 96px;
}

.screen-13 .tours-14 {
  color: #ffffff;
  font-family: "Switzer-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 114px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: -4px;
  white-space: nowrap;
  width: 49px;
}

.screen-13 .content-27 {
  height: 35px;
  left: 1289px;
  position: absolute;
  top: 33px;
  width: 109px;
}

.screen-13 .button-36 {
  all: unset;
  border-radius: 8px;
  box-sizing: border-box;
  height: 35px;
  position: relative;
}

.screen-13 .sign-up-14 {
  color: #ffffff;
  font-family: "Switzer-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 24px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  text-align: center;
  top: 3px;
  white-space: nowrap;
  width: 83px;
}

.screen-13 .VENTURE-27 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 112px;
  letter-spacing: 0;
  line-height: 33px;
  position: absolute;
  top: 25px;
  white-space: nowrap;
  width: 379px;
}

.screen-13 .group-399 {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 3px 6px #00000029;
  height: 559px;
  left: 140px;
  position: absolute;
  top: 1154px;
  width: 571px;
}

.screen-13 .overlap-192 {
  border-radius: 16px 16px 0px 0px;
  height: 302px;
  left: 0;
  position: absolute;
  top: 0;
  width: 571px;
}

.screen-13 .shape-8 {
  height: 36px;
  left: 261px;
  object-fit: cover;
  position: absolute;
  top: 158px;
  width: 48px;
}

.screen-13 .rectangle-84 {
  border-radius: 16px 16px 0px 0px;
  height: 302px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 571px;
}

.screen-13 .future-of-customer-s-16 {
  color: #333333;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 34px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 332px;
  white-space: nowrap;
}

.screen-13 .ainara-vergara-18 {
  color: #333333;
  font-family: "DM Sans", Helvetica;
  font-size: 13px;
  font-weight: 700;
  left: 34px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 366px;
  white-space: nowrap;
}

.screen-13 .his-dolorem-habemus-52 {
  color: #999999;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 83px;
  left: 34px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 398px;
  width: 484px;
}

.screen-13 .group-400 {
  height: 24px;
  left: 34px;
  position: absolute;
  top: 510px;
  width: 119px;
}

.screen-13 .overlap-group-87 {
  height: 28px;
  position: relative;
  top: -4px;
}

.screen-13 .his-dolorem-habemus-53 {
  color: #f86229;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  height: 25px;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 119px;
}

.screen-13 .icon-39 {
  height: 24px;
  left: 85px;
  position: absolute;
  top: 4px;
  width: 24px;
}

.screen-13 .vector-48 {
  height: 15px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 18px;
}

.screen-13 .group-401 {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 3px 6px #00000029;
  height: 559px;
  left: 140px;
  position: absolute;
  top: 2362px;
  width: 571px;
}

.screen-13 .his-dolorem-habemus-54 {
  color: #999999;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 83px;
  left: 34px;
  letter-spacing: 0;
  line-height: 24px;
  overflow: hidden;
  position: absolute;
  top: 398px;
  width: 484px;
}

.screen-13 .group-402 {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 3px 6px #00000029;
  height: 559px;
  left: 140px;
  position: absolute;
  top: 3570px;
  width: 571px;
}

.screen-13 .group-403 {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 3px 6px #00000029;
  height: 559px;
  left: 759px;
  position: absolute;
  top: 3570px;
  width: 571px;
}

.screen-13 .group-404 {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 3px 6px #00000029;
  height: 559px;
  left: 759px;
  position: absolute;
  top: 2362px;
  width: 571px;
}

.screen-13 .overlap-193 {
  height: 19px;
  left: 34px;
  position: absolute;
  top: 366px;
  width: 156px;
}

.screen-13 .ainara-vergara-19 {
  color: #333333;
  font-family: "DM Sans", Helvetica;
  font-size: 13px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.screen-13 .ainara-vergara-20 {
  color: #333333;
  font-family: "DM Sans", Helvetica;
  font-size: 13px;
  font-weight: 700;
  left: 2px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.screen-13 .group-405 {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 3px 6px #00000029;
  height: 559px;
  left: 759px;
  position: absolute;
  top: 1154px;
  width: 571px;
}

.screen-13 .his-dolorem-habemus-55 {
  color: #999999;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 83px;
  left: 34px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 398px;
  width: 497px;
}

.screen-13 .group-406 {
  height: 155px;
  left: 148px;
  position: absolute;
  top: 380px;
  width: 472px;
}

.screen-13 .overlap-194 {
  height: 136px;
  position: relative;
  top: 16px;
}

.screen-13 .we-craft-digital-27 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 81px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 80px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.screen-13 .quidam-officiis-simi-5 {
  color: #ffffff;
  font-family: "DM Sans", Helvetica;
  font-size: 23px;
  font-weight: 700;
  height: 50px;
  left: 0;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 86px;
  width: 472px;
}

.screen-13 .group-407 {
  height: 304px;
  left: 355px;
  position: absolute;
  top: 679px;
  width: 506px;
}

.screen-13 .future-of-customer-s-17 {
  color: #333333;
  font-family: "Poppins", Helvetica;
  font-size: 22px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 29px;
  position: absolute;
  top: 1px;
  white-space: nowrap;
}

.screen-13 .ainara-vergara-21 {
  color: #333333;
  font-family: "DM Sans", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 44px;
  white-space: nowrap;
}

.screen-13 .his-dolorem-habemus-56 {
  color: #999999;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 167px;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  overflow: hidden;
  position: absolute;
  top: 85px;
  width: 506px;
}

.screen-13 .group-408 {
  height: 24px;
  left: 0;
  position: absolute;
  top: 280px;
  width: 119px;
}

.screen-13 .footer-menu-8 {
  background-color: #0c141d;
  height: 492px;
  left: 4px;
  position: absolute;
  top: 4215px;
  width: 1440px;
}

.screen-13 .footer-19 {
  background-color: transparent;
  height: 332px;
  left: 112px;
  position: relative;
  top: 92px;
  width: 1216px;
}

.screen-13 .cel-45 {
  height: 162px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1216px;
}

.screen-13 .logo-text-14 {
  height: 133px;
  left: 0;
  position: absolute;
  top: 0;
  width: 235px;
}

.screen-13 .VENTURE-28 {
  color: #ffffff;
  font-family: "Sora", Helvetica;
  font-size: 22px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: -4px;
  width: 235px;
}

.screen-13 .feel-and-enjoy-the-9 {
  color: #98a2b3;
  font-family: "Switzer-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 77px;
  width: 200px;
}

.screen-13 .menu-43 {
  height: 159px;
  left: 1050px;
  position: absolute;
  top: 3px;
  width: 166px;
}

.screen-13 .content-28 {
  height: 159px;
  position: relative;
  width: 168px;
}

.screen-13 .supports-14 {
  color: #ffffff;
  font-family: "Switzer-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: -5px;
  white-space: nowrap;
  width: 168px;
}

.screen-13 .cel-46 {
  height: 102px;
  left: 0;
  position: absolute;
  top: 57px;
  width: 168px;
}

.screen-13 .help-14 {
  color: #98a2b3;
  font-family: "Switzer-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: -4px;
  white-space: nowrap;
  width: 168px;
}

.screen-13 .location-14 {
  color: #98a2b3;
  font-family: "Switzer-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 34px;
  white-space: nowrap;
  width: 168px;
}

.screen-13 .employees-14 {
  color: #98a2b3;
  font-family: "Switzer-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 74px;
  white-space: nowrap;
  width: 168px;
}

.screen-13 .cel-47 {
  height: 52px;
  left: 0;
  position: absolute;
  top: 280px;
  width: 1218px;
}

.screen-13 .overlap-group-88 {
  height: 52px;
  position: relative;
}

.screen-13 .cel-48 {
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1216px;
}

.screen-13 .frame-14 {
  height: 27px;
  left: 0;
  position: absolute;
  top: 25px;
  width: 366px;
}

.screen-13 .terms-condditions-14 {
  -webkit-text-stroke: 1px #707070;
  color: #98a2b3;
  font-family: "Switzer-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: -5px;
  white-space: nowrap;
  width: 193px;
}

.screen-13 .ellipse-21 {
  background-color: #d9d9d9;
  border: 1px solid;
  border-color: #707070;
  border-radius: 3px;
  height: 6px;
  left: 211px;
  position: absolute;
  top: 7px;
  width: 6px;
}

.screen-13 .text-wrapper-172 {
  -webkit-text-stroke: 1px #707070;
  color: #98a2b3;
  font-family: "Switzer-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 237px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: -5px;
  white-space: nowrap;
  width: 129px;
}

.screen-13 .element-venture-all-14 {
  -webkit-text-stroke: 1px #707070;
  color: #98a2b3;
  font-family: "Switzer-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 909px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 20px;
  white-space: nowrap;
  width: 309px;
}

.screen-13 .group-409 {
  height: 178px;
  left: 148px;
  position: absolute;
  top: 686px;
  width: 178px;
}

.screen-13 .ellipse-22 {
  border-radius: 89px;
  height: 178px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 178px;
}

.screen-13 .group-410 {
  background-color: #00569a;
  border-radius: 16px;
  height: 310px;
  left: 901px;
  position: absolute;
  top: 679px;
  width: 429px;
}

.screen-13 .we-craft-digital-28 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 30px;
  font-weight: 700;
  left: 41px;
  letter-spacing: 0;
  line-height: 80px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.screen-13 .group-411 {
  height: 184px;
  left: 46px;
  position: absolute;
  top: 92px;
  width: 296px;
}

.screen-13 .his-dolorem-habemus-57 {
  color: #ffffff;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  height: 186px;
  left: 23px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: -4px;
  width: 273px;
}

.screen-13 .text-wrapper-173 {
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
}

.screen-13 .text-wrapper-174 {
  font-family: "DM Sans", Helvetica;
  font-weight: 400;
}

.screen-13 .path-800 {
  height: 16px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: 16px;
}

.screen-13 .path-801 {
  height: 16px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 98px;
  width: 16px;
}

.screen-13 .group-412 {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 3px 6px #00000029;
  height: 559px;
  left: 140px;
  position: absolute;
  top: 1758px;
  width: 372px;
}

.screen-13 .overlap-195 {
  border-radius: 16px 16px 0px 0px;
  height: 302px;
  left: 0;
  position: absolute;
  top: 0;
  width: 372px;
}

.screen-13 .rectangle-85 {
  border-radius: 16px 16px 0px 0px;
  height: 302px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 372px;
}

.screen-13 .his-dolorem-habemus-58 {
  color: #999999;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 83px;
  left: 34px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 398px;
  width: 310px;
}

.screen-13 .group-413 {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 3px 6px #00000029;
  height: 559px;
  left: 140px;
  position: absolute;
  top: 2966px;
  width: 372px;
}

.screen-13 .his-dolorem-habemus-59 {
  color: #999999;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 83px;
  left: 34px;
  letter-spacing: 0;
  line-height: 24px;
  overflow: hidden;
  position: absolute;
  top: 398px;
  width: 310px;
}

.screen-13 .group-414 {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 3px 6px #00000029;
  display: block;
  height: 559px;
  left: 549px;
  position: absolute;
  top: 1758px;
  width: 372px;
}

.screen-13 .group-415 {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 3px 6px #00000029;
  height: 559px;
  left: 549px;
  position: absolute;
  top: 2966px;
  width: 372px;
}

.screen-13 .group-416 {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 3px 6px #00000029;
  display: block;
  height: 559px;
  left: 958px;
  position: absolute;
  top: 1758px;
  width: 372px;
}

.screen-13 .ainara-vergara-22 {
  color: #333333;
  font-family: "DM Sans", Helvetica;
  font-size: 13px;
  font-weight: 700;
  left: 34px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 392px;
  white-space: nowrap;
}

.screen-13 .his-dolorem-habemus-60 {
  color: #999999;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 48px;
  left: 34px;
  letter-spacing: 0;
  line-height: 24px;
  overflow: hidden;
  position: absolute;
  top: 425px;
  width: 310px;
}

.screen-13 .group-417 {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 3px 6px #00000029;
  height: 559px;
  left: 958px;
  position: absolute;
  top: 2966px;
  width: 372px;
}

.screen-13 .group-418 {
  height: 394px;
  left: 819px;
  position: absolute;
  top: 133px;
  width: 415px;
}

.screen-13 .group-419 {
  background-image: url(../../../static/img/group-50-29.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 394px;
  overflow: hidden;
}

.screen-13 .overlap-group-89 {
  height: 394px;
  position: relative;
  width: 415px;
}

.screen-13 .group-420 {
  background-image: url(../../../static/img/group-52-14.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 389px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 409px;
}

.screen-13 .group-421 {
  background-image: url(../../../static/img/group-54-14.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 394px;
  left: 0;
  position: absolute;
  top: 0;
  width: 415px;
}

.screen-13 .toggle-menu-5 {
  height: 56px;
  left: 140px;
  position: absolute;
  top: 1059px;
  width: 1190px;
}

.screen-13 .overlap-group-90 {
  height: 56px;
  position: relative;
}

.screen-13 .tab-rollover-29 {
  height: 56px;
  left: 339px;
  position: absolute;
  top: 0;
  width: 172px;
}

.screen-13 .overlap-196 {
  height: 56px;
  position: relative;
  width: 174px;
}

.screen-13 .group-422 {
  height: 56px;
  left: 0;
  position: absolute;
  top: 0;
  width: 174px;
}

.screen-13 .rectangle-86 {
  background-color: #005896;
  border: 1px solid;
  border-color: #bcbcbc;
  height: 56px;
  left: 0;
  position: absolute;
  top: 0;
  width: 172px;
}

.screen-13 .text-wrapper-175 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 9px;
  white-space: nowrap;
  width: 174px;
}

.screen-13 .rectangle-87 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #bcbcbc;
  height: 56px;
  left: 0;
  position: absolute;
  top: 0;
  width: 172px;
}

.screen-13 .text-wrapper-176 {
  color: #667085;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
  width: 174px;
}

.screen-13 .tab-rollover-30 {
  height: 56px;
  left: 170px;
  position: absolute;
  top: 0;
  width: 172px;
}

.screen-13 .tab-rollover-31 {
  height: 56px;
  left: 679px;
  position: absolute;
  top: 0;
  width: 172px;
}

.screen-13 .tab-rollover-32 {
  height: 56px;
  left: 509px;
  position: absolute;
  top: 0;
  width: 172px;
}

.screen-13 .tab-rollover-33 {
  display: block;
  height: 56px;
  left: 848px;
  position: absolute;
  top: 0;
  width: 172px;
}

.screen-13 .tab-rollover-34 {
  display: block;
  height: 56px;
  left: 1018px;
  position: absolute;
  top: 0;
  width: 172px;
}

.screen-13 .tab-rollover-35 {
  height: 56px;
  left: 0;
  position: absolute;
  top: 0;
  width: 172px;
}

.screen-13 .rectangle-88 {
  -webkit-backdrop-filter: blur(8.06px) brightness(69.61%);
  backdrop-filter: blur(8.06px) brightness(69.61%);
  height: 4728px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 1441px;
}

.screen-13 .group-423 {
  height: 1467px;
  left: 438px;
  position: absolute;
  top: 340px;
  width: 574px;
}

.screen-13 .overlap-197 {
  height: 1467px;
  position: relative;
}

.screen-13 .group-424 {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 3px 6px #00000029;
  height: 1467px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 565px;
}

.screen-13 .future-of-customer-s-18 {
  color: #333333;
  font-family: "Poppins", Helvetica;
  font-size: 31px;
  font-weight: 600;
  left: 61px;
  letter-spacing: 0;
  line-height: 56px;
  position: absolute;
  top: 694px;
  white-space: nowrap;
}

.screen-13 .overlap-group-91 {
  border-radius: 16px 16px 0px 0px;
  height: 643px;
  left: 0;
  position: absolute;
  top: 0;
  width: 565px;
}

.screen-13 .rectangle-89 {
  background-color: #005896;
  border-radius: 16px 16px 0px 0px;
  height: 643px;
  left: 0;
  opacity: 1.0;
  position: absolute;
  top: 0;
  width: 565px;
}

.screen-13 .rectangle-90 {
  border-radius: 16px 16px 0px 0px;
  height: 643px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 565px;
}

.screen-13 .frito-lay-provided {
  -webkit-text-stroke: 1px transparent;
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 25px;
  font-weight: 700;
  left: 83px;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 446px;
  width: 418px;
}

.screen-13 .text-wrapper-177 {
  -webkit-text-stroke: 1px transparent;
  color: #ffffff;
  font-family: "Abril Fatface", Helvetica;
  font-size: 75px;
  font-weight: 400;
  height: 56px;
  left: 77px;
  letter-spacing: 0;
  line-height: 35px;
  overflow: hidden;
  position: absolute;
  top: 443px;
  width: 67px;
}

.screen-13 .text-wrapper-178 {
  -webkit-text-stroke: 1px transparent;
  color: #ffffff;
  font-family: "Abril Fatface", Helvetica;
  font-size: 75px;
  font-weight: 400;
  height: 64px;
  left: 328px;
  letter-spacing: 0;
  line-height: 35px;
  overflow: hidden;
  position: absolute;
  top: 547px;
  width: 59px;
}

.screen-13 .group-425 {
  height: 223px;
  left: 83px;
  position: absolute;
  top: 180px;
  width: 225px;
}

.screen-13 .ellipse-23 {
  border-radius: 112.5px / 111.5px;
  height: 223px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 225px;
}

.screen-13 .ainara-vergara-23 {
  color: #333333;
  font-family: "DM Sans", Helvetica;
  font-size: 22px;
  font-weight: 700;
  left: 61px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 756px;
  white-space: nowrap;
}

.screen-13 .his-dolorem-habemus-61 {
  color: #999999;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 566px;
  left: 61px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 792px;
  width: 441px;
}

.screen-13 .group-426 {
  height: 41px;
  left: 0;
  position: absolute;
  top: 337px;
  width: 574px;
}

.screen-13 .group-427 {
  height: 41px;
  left: 0;
  position: absolute;
  top: 0;
  width: 26px;
}

.screen-13 .overlap-group-92 {
  height: 42px;
  position: relative;
  top: -1px;
}

.screen-13 .exclusion-15 {
  height: 42px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 22px;
}

.screen-13 .chev-down-8 {
  height: 24px;
  left: 0;
  position: absolute;
  top: 9px;
  transform: rotate(90deg);
  width: 24px;
}

.screen-13 .icon-40 {
  height: 14px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  transform: rotate(-90deg);
  width: 8px;
}

.screen-13 .group-428 {
  height: 41px;
  left: 548px;
  position: absolute;
  top: 0;
  transform: rotate(180deg);
  width: 26px;
}

.screen-13 .exclusion-16 {
  height: 42px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 22px;
}

.screen-13 .icon-41 {
  height: 14px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  transform: rotate(-270deg);
  width: 8px;
}

.screen-13 .light-button-primary-23 {
  background-color: #fa612f;
  border-radius: 15px;
  display: block;
  height: 48px;
  left: 194px;
  position: absolute;
  top: 1374px;
  width: 189px;
}

.screen-13 .button-37 {
  all: unset;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 73px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 12px;
  white-space: nowrap;
}

.screen-13 .group-429 {
  background-color: #fa612f;
  border-radius: 16px;
  display: block;
  height: 32px;
  left: 514px;
  position: absolute;
  top: 28px;
  width: 32px;
}

.screen-13 .path-802 {
  height: 16px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 16px;
}
