.the-berg-screen {
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.the-berg-screen .the-berg-2 {
  background-color: #fafafa;
  display: block;
  height: 4175px;
  overflow: hidden;
  width: 1440px;
}

.the-berg-screen .overlap-107 {
  height: 4175px;
  left: -5px;
  position: relative;
  width: 1446px;
}

.the-berg-screen .rectangle-48 {
  height: 596px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1440px;
}

.the-berg-screen .rectangle-49 {
  background: linear-gradient(
    180deg,
    #004e8b 0%,
    rgba(0, 86, 151, 0.1) 42.36%,
    rgba(0, 87, 152, 0) 100%
  );
  height: 596px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.the-berg-screen .header-11 {
  background-color: transparent;
  height: 96px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.the-berg-screen .overlap-group-52 {
  height: 96px;
  position: relative;
  width: 1440px;
}

.the-berg-screen .search-8 {
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 20px;
  height: 40px;
  left: 1259px;
  position: absolute;
  top: 28px;
  width: 40px;
}

.the-berg-screen .icon-22 {
  height: 24px;
  left: 7px;
  position: relative;
  top: 7px;
  width: 24px;
}

.the-berg-screen .vector-34 {
  height: 20px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 20px;
}

.the-berg-screen .header-12 {
  height: 96px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.the-berg-screen .menu-32 {
  height: 25px;
  left: 1054px;
  position: absolute;
  top: 39px;
  width: 163px;
}

.the-berg-screen .destination-9 {
  color: #ffffff;
  font-family: "Switzer-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: -4px;
  white-space: nowrap;
  width: 96px;
}

.the-berg-screen .tours-9 {
  color: #ffffff;
  font-family: "Switzer-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 114px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: -4px;
  white-space: nowrap;
  width: 49px;
}

.the-berg-screen .content-17 {
  height: 35px;
  left: 1289px;
  position: absolute;
  top: 33px;
  width: 109px;
}

.the-berg-screen .button-27 {
  all: unset;
  border-radius: 8px;
  box-sizing: border-box;
  height: 35px;
  position: relative;
}

.the-berg-screen .sign-up-9 {
  color: #ffffff;
  font-family: "Switzer-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 24px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  text-align: center;
  top: 3px;
  white-space: nowrap;
  width: 83px;
}

.the-berg-screen .VENTURE-17 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 112px;
  letter-spacing: 0;
  line-height: 33px;
  position: absolute;
  top: 25px;
  white-space: nowrap;
  width: 379px;
}

.the-berg-screen .group-280 {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 3px 6px #00000029;
  height: 559px;
  left: 140px;
  position: absolute;
  top: 1154px;
  width: 571px;
}

.the-berg-screen .overlap-108 {
  border-radius: 16px 16px 0px 0px;
  height: 302px;
  left: 0;
  position: absolute;
  top: 0;
  width: 571px;
}

.the-berg-screen .shape-5 {
  height: 36px;
  left: 261px;
  object-fit: cover;
  position: absolute;
  top: 158px;
  width: 48px;
}

.the-berg-screen .rectangle-50 {
  border-radius: 16px 16px 0px 0px;
  height: 302px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 571px;
}

.the-berg-screen .future-of-customer-s-7 {
  color: #333333;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 34px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 332px;
  white-space: nowrap;
}

.the-berg-screen .ainara-vergara-8 {
  color: #333333;
  font-family: "DM Sans", Helvetica;
  font-size: 13px;
  font-weight: 700;
  left: 34px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 366px;
  white-space: nowrap;
}

.the-berg-screen .his-dolorem-habemus-22 {
  color: #999999;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 83px;
  left: 34px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 398px;
  width: 484px;
}

.the-berg-screen .group-281 {
  height: 24px;
  left: 34px;
  position: absolute;
  top: 510px;
  width: 119px;
}

.the-berg-screen .overlap-group-53 {
  height: 28px;
  position: relative;
  top: -4px;
}

.the-berg-screen .his-dolorem-habemus-23 {
  color: #f86229;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  height: 25px;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 119px;
}

.the-berg-screen .icon-23 {
  height: 24px;
  left: 85px;
  position: absolute;
  top: 4px;
  width: 24px;
}

.the-berg-screen .vector-35 {
  height: 15px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 18px;
}

.the-berg-screen .group-282 {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 3px 6px #00000029;
  height: 559px;
  left: 140px;
  position: absolute;
  top: 2362px;
  width: 571px;
}

.the-berg-screen .his-dolorem-habemus-24 {
  color: #999999;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 83px;
  left: 34px;
  letter-spacing: 0;
  line-height: 24px;
  overflow: hidden;
  position: absolute;
  top: 398px;
  width: 484px;
}

.the-berg-screen .group-283 {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 3px 6px #00000029;
  height: 559px;
  left: 759px;
  position: absolute;
  top: 2362px;
  width: 571px;
}

.the-berg-screen .group-284 {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 3px 6px #00000029;
  height: 559px;
  left: 759px;
  position: absolute;
  top: 1154px;
  width: 571px;
}

.the-berg-screen .group-285 {
  height: 155px;
  left: 148px;
  position: absolute;
  top: 380px;
  width: 472px;
}

.the-berg-screen .overlap-109 {
  height: 136px;
  position: relative;
  top: 16px;
}

.the-berg-screen .we-craft-digital-14 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 81px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 80px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.the-berg-screen .quidam-officiis-simi-2 {
  color: #ffffff;
  font-family: "DM Sans", Helvetica;
  font-size: 23px;
  font-weight: 700;
  height: 50px;
  left: 0;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 86px;
  width: 472px;
}

.the-berg-screen .group-286 {
  height: 304px;
  left: 355px;
  position: absolute;
  top: 679px;
  width: 506px;
}

.the-berg-screen .future-of-customer-s-8 {
  color: #333333;
  font-family: "Poppins", Helvetica;
  font-size: 22px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 29px;
  position: absolute;
  top: 1px;
  white-space: nowrap;
}

.the-berg-screen .ainara-vergara-9 {
  color: #333333;
  font-family: "DM Sans", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 44px;
  white-space: nowrap;
}

.the-berg-screen .his-dolorem-habemus-25 {
  color: #999999;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 167px;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  overflow: hidden;
  position: absolute;
  top: 85px;
  width: 506px;
}

.the-berg-screen .group-287 {
  height: 24px;
  left: 0;
  position: absolute;
  top: 280px;
  width: 119px;
}

.the-berg-screen .footer-11 {
  background-color: #0c141d;
  height: 492px;
  left: 4px;
  position: absolute;
  top: 3683px;
  width: 1440px;
}

.the-berg-screen .footer-12 {
  height: 332px;
  left: 112px;
  position: relative;
  top: 92px;
  width: 1216px;
}

.the-berg-screen .cel-27 {
  height: 162px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1216px;
}

.the-berg-screen .logo-text-9 {
  height: 103px;
  left: 0;
  position: absolute;
  top: 0;
  width: 314px;
}

.the-berg-screen .VENTURE-18 {
  color: #ffffff;
  font-family: "Sora", Helvetica;
  font-size: 22px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 33px;
  position: absolute;
  top: -6px;
  white-space: nowrap;
  width: 235px;
}

.the-berg-screen .text-wrapper-109 {
  color: #98a2b3;
  font-family: "Switzer-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 47px;
  width: 314px;
}

.the-berg-screen .menu-33 {
  height: 159px;
  left: 1050px;
  position: absolute;
  top: 3px;
  width: 166px;
}

.the-berg-screen .content-18 {
  height: 159px;
  position: relative;
  width: 168px;
}

.the-berg-screen .supports-9 {
  color: #ffffff;
  font-family: "Switzer-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: -5px;
  white-space: nowrap;
  width: 168px;
}

.the-berg-screen .cel-28 {
  height: 102px;
  left: 0;
  position: absolute;
  top: 57px;
  width: 168px;
}

.the-berg-screen .help-9 {
  color: #98a2b3;
  font-family: "Switzer-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: -4px;
  white-space: nowrap;
  width: 168px;
}

.the-berg-screen .location-9 {
  color: #98a2b3;
  font-family: "Switzer-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 34px;
  white-space: nowrap;
  width: 168px;
}

.the-berg-screen .employees-9 {
  color: #98a2b3;
  font-family: "Switzer-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 74px;
  white-space: nowrap;
  width: 168px;
}

.the-berg-screen .cel-29 {
  height: 52px;
  left: 0;
  position: absolute;
  top: 280px;
  width: 1218px;
}

.the-berg-screen .overlap-group-54 {
  height: 52px;
  position: relative;
}

.the-berg-screen .cel-30 {
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1216px;
}

.the-berg-screen .frame-9 {
  height: 27px;
  left: 0;
  position: absolute;
  top: 25px;
  width: 366px;
}

.the-berg-screen .terms-condditions-9 {
  -webkit-text-stroke: 1px #707070;
  color: #98a2b3;
  font-family: "Switzer-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: -5px;
  white-space: nowrap;
  width: 193px;
}

.the-berg-screen .ellipse-13 {
  background-color: #d9d9d9;
  border: 1px solid;
  border-color: #707070;
  border-radius: 3px;
  height: 6px;
  left: 211px;
  position: absolute;
  top: 7px;
  width: 6px;
}

.the-berg-screen .text-wrapper-110 {
  -webkit-text-stroke: 1px #707070;
  color: #98a2b3;
  font-family: "Switzer-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 237px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: -5px;
  white-space: nowrap;
  width: 129px;
}

.the-berg-screen .element-venture-all-9 {
  -webkit-text-stroke: 1px #707070;
  color: #98a2b3;
  font-family: "Switzer-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 909px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 20px;
  white-space: nowrap;
  width: 309px;
}

.the-berg-screen .group-288 {
  height: 178px;
  left: 148px;
  position: absolute;
  top: 686px;
  width: 178px;
}

.the-berg-screen .ellipse-14 {
  border-radius: 89px;
  height: 178px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 178px;
}

.the-berg-screen .group-289 {
  background-color: #00569a;
  border-radius: 16px;
  height: 310px;
  left: 901px;
  position: absolute;
  top: 679px;
  width: 429px;
}

.the-berg-screen .we-craft-digital-15 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 30px;
  font-weight: 700;
  left: 41px;
  letter-spacing: 0;
  line-height: 80px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.the-berg-screen .group-290 {
  height: 184px;
  left: 46px;
  position: absolute;
  top: 92px;
  width: 296px;
}

.the-berg-screen .his-dolorem-habemus-26 {
  color: #ffffff;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  height: 186px;
  left: 23px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: -4px;
  width: 273px;
}

.the-berg-screen .text-wrapper-111 {
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
}

.the-berg-screen .text-wrapper-112 {
  font-family: "DM Sans", Helvetica;
  font-weight: 400;
}

.the-berg-screen .path-417 {
  height: 16px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: 16px;
}

.the-berg-screen .path-418 {
  height: 16px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 98px;
  width: 16px;
}

.the-berg-screen .group-291 {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 3px 6px #00000029;
  height: 559px;
  left: 140px;
  position: absolute;
  top: 1758px;
  width: 372px;
}

.the-berg-screen .overlap-110 {
  border-radius: 16px 16px 0px 0px;
  height: 302px;
  left: 0;
  position: absolute;
  top: 0;
  width: 372px;
}

.the-berg-screen .rectangle-51 {
  border-radius: 16px 16px 0px 0px;
  height: 302px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 372px;
}

.the-berg-screen .his-dolorem-habemus-27 {
  color: #999999;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 83px;
  left: 34px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 398px;
  width: 310px;
}

.the-berg-screen .group-292 {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 3px 6px #00000029;
  height: 559px;
  left: 140px;
  position: absolute;
  top: 2966px;
  width: 372px;
}

.the-berg-screen .his-dolorem-habemus-28 {
  color: #999999;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 83px;
  left: 34px;
  letter-spacing: 0;
  line-height: 24px;
  overflow: hidden;
  position: absolute;
  top: 398px;
  width: 310px;
}

.the-berg-screen .group-293 {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 3px 6px #00000029;
  height: 559px;
  left: 549px;
  position: absolute;
  top: 1758px;
  width: 372px;
}

.the-berg-screen .group-294 {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 3px 6px #00000029;
  height: 559px;
  left: 549px;
  position: absolute;
  top: 2966px;
  width: 372px;
}

.the-berg-screen .group-295 {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 3px 6px #00000029;
  height: 559px;
  left: 958px;
  position: absolute;
  top: 1758px;
  width: 372px;
}

.the-berg-screen .group-296 {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 3px 6px #00000029;
  height: 559px;
  left: 958px;
  position: absolute;
  top: 2966px;
  width: 372px;
}

.the-berg-screen .group-297 {
  height: 394px;
  left: 819px;
  position: absolute;
  top: 133px;
  width: 415px;
}

.the-berg-screen .group-298 {
  background-image: url(../../../static/img/group-50-29.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 394px;
  overflow: hidden;
}

.the-berg-screen .overlap-group-55 {
  height: 394px;
  position: relative;
  width: 415px;
}

.the-berg-screen .group-299 {
  background-image: url(../../../static/img/group-52-14.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 389px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 409px;
}

.the-berg-screen .group-300 {
  background-image: url(../../../static/img/group-54-14.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 394px;
  left: 0;
  position: absolute;
  top: 0;
  width: 415px;
}

.the-berg-screen .toggle-menu-2 {
  height: 56px;
  left: 140px;
  position: absolute;
  top: 1059px;
  width: 1190px;
}

.the-berg-screen .overlap-group-56 {
  height: 56px;
  position: relative;
}

.the-berg-screen .tab-rollover-8 {
  height: 56px;
  left: 339px;
  position: absolute;
  top: 0;
  width: 172px;
}

.the-berg-screen .overlap-111 {
  height: 56px;
  position: relative;
  width: 174px;
}

.the-berg-screen .group-301 {
  height: 56px;
  left: 0;
  position: absolute;
  top: 0;
  width: 174px;
}

.the-berg-screen .rectangle-52 {
  background-color: #005896;
  border: 1px solid;
  border-color: #bcbcbc;
  height: 56px;
  left: 0;
  position: absolute;
  top: 0;
  width: 172px;
}

.the-berg-screen .text-wrapper-113 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 9px;
  white-space: nowrap;
  width: 174px;
}

.the-berg-screen .rectangle-53 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #bcbcbc;
  height: 56px;
  left: 0;
  position: absolute;
  top: 0;
  width: 172px;
}

.the-berg-screen .text-wrapper-114 {
  color: #667085;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
  width: 174px;
}

.the-berg-screen .tab-rollover-9 {
  height: 56px;
  left: 170px;
  position: absolute;
  top: 0;
  width: 172px;
}

.the-berg-screen .tab-rollover-10 {
  height: 56px;
  left: 679px;
  position: absolute;
  top: 0;
  width: 172px;
}

.the-berg-screen .tab-rollover-11 {
  height: 56px;
  left: 509px;
  position: absolute;
  top: 0;
  width: 172px;
}

.the-berg-screen .tab-rollover-12 {
  display: block;
  height: 56px;
  left: 848px;
  position: absolute;
  top: 0;
  width: 172px;
}

.the-berg-screen .tab-rollover-13 {
  display: block;
  height: 56px;
  left: 1018px;
  position: absolute;
  top: 0;
  width: 172px;
}

.the-berg-screen .tab-rollover-14 {
  height: 56px;
  left: 0;
  position: absolute;
  top: 0;
  width: 172px;
}

.the-berg-screen .rectangle-54 {
  -webkit-backdrop-filter: blur(8.06px) brightness(69.61%);
  backdrop-filter: blur(8.06px) brightness(69.61%);
  height: 4175px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 1441px;
}

.the-berg-screen .group-302 {
  height: 1100px;
  left: 438px;
  position: absolute;
  top: 340px;
  width: 574px;
}

.the-berg-screen .overlap-112 {
  height: 1100px;
  position: relative;
}

.the-berg-screen .group-303 {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 3px 6px #00000029;
  height: 1100px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 565px;
}

.the-berg-screen .future-of-customer-s-9 {
  color: #333333;
  font-family: "Poppins", Helvetica;
  font-size: 31px;
  font-weight: 600;
  left: 61px;
  letter-spacing: 0;
  line-height: 56px;
  position: absolute;
  top: 694px;
  white-space: nowrap;
}

.the-berg-screen .overlap-group-57 {
  border-radius: 16px 16px 0px 0px;
  height: 643px;
  left: 0;
  position: absolute;
  top: 0;
  width: 565px;
}

.the-berg-screen .rectangle-55 {
  background-color: #005896;
  border-radius: 16px 16px 0px 0px;
  height: 643px;
  left: 0;
  opacity: 1.0;
  position: absolute;
  top: 0;
  width: 565px;
}

.the-berg-screen .rectangle-56 {
  border-radius: 16px;
  height: 643px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 565px;
}

.the-berg-screen .ainara-vergara-10 {
  color: #333333;
  font-family: "DM Sans", Helvetica;
  font-size: 22px;
  font-weight: 700;
  left: 61px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 756px;
  white-space: nowrap;
}

.the-berg-screen .his-dolorem-habemus-29 {
  color: #999999;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 209px;
  left: 61px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 792px;
  width: 441px;
}

.the-berg-screen .group-304 {
  height: 41px;
  left: 0;
  position: absolute;
  top: 337px;
  width: 574px;
}

.the-berg-screen .group-305 {
  height: 41px;
  left: 0;
  position: absolute;
  top: 0;
  width: 26px;
}

.the-berg-screen .overlap-group-58 {
  height: 42px;
  position: relative;
  top: -1px;
}

.the-berg-screen .exclusion-9 {
  height: 42px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 22px;
}

.the-berg-screen .chev-down-5 {
  height: 24px;
  left: 0;
  position: absolute;
  top: 9px;
  transform: rotate(90deg);
  width: 24px;
}

.the-berg-screen .icon-24 {
  height: 14px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  transform: rotate(-90deg);
  width: 8px;
}

.the-berg-screen .group-306 {
  height: 41px;
  left: 548px;
  position: absolute;
  top: 0;
  transform: rotate(180deg);
  width: 26px;
}

.the-berg-screen .exclusion-10 {
  height: 42px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 22px;
}

.the-berg-screen .icon-25 {
  height: 14px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  transform: rotate(-270deg);
  width: 8px;
}

.the-berg-screen .light-button-primary-19 {
  background-color: #fa612f;
  border-radius: 15px;
  display: block;
  height: 48px;
  left: 194px;
  position: absolute;
  top: 1000px;
  width: 189px;
}

.the-berg-screen .button-28 {
  all: unset;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 73px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 12px;
  white-space: nowrap;
}

.the-berg-screen .group-307 {
  background-color: #fa612f;
  border-radius: 16px;
  display: block;
  height: 32px;
  left: 514px;
  position: absolute;
  top: 28px;
  width: 32px;
}

.the-berg-screen .path-419 {
  height: 16px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 16px;
}
