.screen-3 {
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen-3 .the-berg-assetupload-4 {
  background-color: #fafafa;
  height: 2412px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.screen-3 .overlap-26 {
  height: 428px;
  left: -5px;
  position: absolute;
  top: 0;
  width: 1445px;
}

.screen-3 .overlap-27 {
  height: 381px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1445px;
}

.screen-3 .rectangle-22 {
  height: 268px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1440px;
}

.screen-3 .rectangle-23 {
  background: linear-gradient(
    180deg,
    #004e8b 0%,
    rgba(0, 86, 151, 0.1) 74.46%,
    rgba(0, 87, 152, 0) 100%
  );
  height: 268px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.screen-3 .header-4 {
  background-color: transparent;
  height: 96px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.screen-3 .search-3 {
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 20px;
  height: 40px;
  left: 1088px;
  position: absolute;
  top: 28px;
  width: 40px;
}

.screen-3 .icon-9 {
  height: 24px;
  left: 7px;
  position: relative;
  top: 7px;
  width: 24px;
}

.screen-3 .vector-14 {
  height: 20px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 20px;
}

.screen-3 .menu-14 {
  height: 25px;
  left: 894px;
  position: absolute;
  top: 39px;
  width: 163px;
}

.screen-3 .destination-4 {
  color: #ffffff;
  font-family: "Switzer-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: -4px;
  white-space: nowrap;
  width: 96px;
}

.screen-3 .tours-4 {
  color: #ffffff;
  font-family: "Switzer-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 114px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: -4px;
  white-space: nowrap;
  width: 49px;
}

.screen-3 .content-7 {
  height: 35px;
  left: 1150px;
  position: absolute;
  top: 33px;
  width: 248px;
}

.screen-3 .button-15 {
  all: unset;
  box-sizing: border-box;
  height: 35px;
  position: relative;
}

.screen-3 .sign-up-4 {
  color: #ffffff;
  font-family: "Switzer-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  text-align: center;
  top: 3px;
  white-space: nowrap;
  width: 247px;
}

.screen-3 .VENTURE-7 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 112px;
  letter-spacing: 0;
  line-height: 33px;
  position: absolute;
  top: 25px;
  white-space: nowrap;
  width: 379px;
}

.screen-3 .group-157 {
  height: 247px;
  left: 1095px;
  position: absolute;
  top: 134px;
  width: 260px;
}

.screen-3 .group-158 {
  background-image: url(../../../static/img/group-50-7.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 247px;
  overflow: hidden;
}

.screen-3 .overlap-group-20 {
  height: 247px;
  position: relative;
  width: 260px;
}

.screen-3 .group-159 {
  background-image: url(../../../static/img/group-52-3.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 244px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 257px;
}

.screen-3 .group-160 {
  background-image: url(../../../static/img/group-54-5.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 247px;
  left: 0;
  position: absolute;
  top: 0;
  width: 260px;
}

.screen-3 .group-161 {
  height: 56px;
  left: 537px;
  position: absolute;
  top: 372px;
  width: 378px;
}

.screen-3 .we-craft-digital-4 {
  color: #005798;
  font-family: "Poppins", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 80px;
  position: absolute;
  text-align: center;
  top: -12px;
  white-space: nowrap;
}

.screen-3 .group-162 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #ebf0f4;
  border-radius: 16px;
  height: 48px;
  left: 443px;
  position: absolute;
  top: 524px;
  width: 54px;
}

.screen-3 .group-163 {
  height: 29px;
  left: 12px;
  position: relative;
  top: 9px;
  width: 29px;
}

.screen-3 .overlap-group-21 {
  height: 29px;
  position: relative;
}

.screen-3 .path-21 {
  height: 16px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 16px;
}

.screen-3 .path-22 {
  height: 16px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 16px;
}

.screen-3 .light-field-default-12 {
  background-image: url(../../../static/img/rectangle-34.png);
  background-position: 50% 50%;
  background-size: cover;
  display: block;
  height: 49px;
  left: 515px;
  position: absolute;
  top: 524px;
  width: 182px;
}

.screen-3 .icon-text-9 {
  height: 31px;
  left: 15px;
  position: relative;
  top: 10px;
  width: 107px;
}

.screen-3 .menu-15 {
  color: #92929d;
  font-family: "Poppins", Helvetica;
  font-size: 22px;
  font-weight: 500;
  left: 46px;
  letter-spacing: 0.16px;
  line-height: 22px;
  position: absolute;
  top: 5px;
  white-space: nowrap;
}

.screen-3 .group-164 {
  background-image: url(../../../static/img/vector-72.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 29px;
  left: 0;
  position: absolute;
  top: 0;
  width: 29px;
}

.screen-3 .vector-15 {
  height: 3px;
  left: 6px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 3px;
}

.screen-3 .light-field-default-13 {
  background-color: #fa612f;
  border: 1px solid;
  border-color: #ebf0f4;
  border-radius: 16px;
  height: 49px;
  left: 715px;
  position: absolute;
  top: 524px;
  width: 182px;
}

.screen-3 .icon-text-10 {
  height: 31px;
  left: 11px;
  position: relative;
  top: 9px;
  width: 124px;
}

.screen-3 .menu-16 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 22px;
  font-weight: 500;
  left: 49px;
  letter-spacing: 0.16px;
  line-height: 22px;
  position: absolute;
  top: 4px;
  white-space: nowrap;
}

.screen-3 .ic-dashboard-5 {
  background-image: url(../../../static/img/combined-shape-8.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 29px;
}

.screen-3 .calendar-collapsed-2 {
  background-color: #005896;
  border-radius: 16px;
  box-shadow: 0px 3px 6px #00000029;
  height: 367px;
  left: 1002px;
  position: absolute;
  top: 641px;
  width: 358px;
}

.screen-3 .month-selector-2 {
  height: 21px;
  left: 46px;
  position: absolute;
  top: 50px;
  width: 252px;
}

.screen-3 .july-2 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15.5px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 15.5px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 78px;
}

.screen-3 .arrows-3 {
  height: 7px;
  left: 227px;
  position: absolute;
  top: 3px;
  width: 25px;
}

.screen-3 .previous-3 {
  height: 11px;
  left: -2px;
  object-fit: cover;
  position: absolute;
  top: -2px;
  width: 11px;
}

.screen-3 .next-3 {
  height: 11px;
  left: 16px;
  object-fit: cover;
  position: absolute;
  top: -2px;
  width: 11px;
}

.screen-3 .weekdays-weeks-wrapper {
  height: 217px;
  left: 46px;
  position: absolute;
  top: 106px;
  width: 266px;
}

.screen-3 .weekdays-weeks-2 {
  height: 217px;
  position: relative;
}

.screen-3 .weekdays-2 {
  height: 21px;
  left: 0;
  position: absolute;
  top: 0;
  width: 268px;
}

.screen-3 .text-wrapper-45 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15.5px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 15.5px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 26px;
}

.screen-3 .text-wrapper-46 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15.5px;
  font-weight: 500;
  left: 46px;
  letter-spacing: 0;
  line-height: 15.5px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 21px;
}

.screen-3 .text-wrapper-47 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15.5px;
  font-weight: 500;
  left: 85px;
  letter-spacing: 0;
  line-height: 15.5px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 26px;
}

.screen-3 .text-wrapper-48 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15.5px;
  font-weight: 500;
  left: 130px;
  letter-spacing: 0;
  line-height: 15.5px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 22px;
}

.screen-3 .text-wrapper-49 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15.5px;
  font-weight: 500;
  left: 172px;
  letter-spacing: 0;
  line-height: 15.5px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 17px;
}

.screen-3 .text-wrapper-50 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15.5px;
  font-weight: 500;
  left: 207px;
  letter-spacing: 0;
  line-height: 15.5px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 21px;
}

.screen-3 .text-wrapper-51 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15.5px;
  font-weight: 500;
  left: 246px;
  letter-spacing: 0;
  line-height: 15.5px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 22px;
}

.screen-3 .week-6 {
  height: 21px;
  left: 136px;
  position: absolute;
  top: 39px;
  width: 128px;
}

.screen-3 .text-wrapper-52 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15.5px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 15.5px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 10px;
}

.screen-3 .text-wrapper-53 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15.5px;
  font-weight: 500;
  left: 38px;
  letter-spacing: 0;
  line-height: 15.5px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 12px;
}

.screen-3 .text-wrapper-54 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15.5px;
  font-weight: 500;
  left: 75px;
  letter-spacing: 0;
  line-height: 15.5px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 12px;
}

.screen-3 .text-wrapper-55 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15.5px;
  font-weight: 500;
  left: 115px;
  letter-spacing: 0;
  line-height: 15.5px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 13px;
}

.screen-3 .overlap-28 {
  height: 71px;
  left: 2px;
  position: absolute;
  top: 68px;
  width: 265px;
}

.screen-3 .week-7 {
  height: 52px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 259px;
}

.screen-3 .text-wrapper-56 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15.5px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 15.5px;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 12px;
}

.screen-3 .text-wrapper-57 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15.5px;
  font-weight: 500;
  left: 42px;
  letter-spacing: 0;
  line-height: 15.5px;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 12px;
}

.screen-3 .text-wrapper-58 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15.5px;
  font-weight: 500;
  left: 86px;
  letter-spacing: 0;
  line-height: 15.5px;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 11px;
}

.screen-3 .overlap-group-22 {
  background-color: #ffffff;
  border-radius: 18.03px;
  height: 36px;
  left: 116px;
  position: absolute;
  top: 0;
  width: 36px;
}

.screen-3 .text-wrapper-59 {
  color: #005896;
  font-family: "Inter", Helvetica;
  font-size: 15.5px;
  font-weight: 500;
  left: 13px;
  letter-spacing: 0;
  line-height: 15.5px;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 12px;
}

.screen-3 .text-wrapper-60 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15.5px;
  font-weight: 500;
  left: 166px;
  letter-spacing: 0;
  line-height: 15.5px;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 12px;
}

.screen-3 .text-wrapper-61 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15.5px;
  font-weight: 500;
  left: 200px;
  letter-spacing: 0;
  line-height: 15.5px;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 20px;
}

.screen-3 .text-wrapper-62 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15.5px;
  font-weight: 500;
  left: 242px;
  letter-spacing: 0;
  line-height: 15.5px;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 17px;
}

.screen-3 .week-8 {
  height: 22px;
  left: 0;
  position: absolute;
  top: 49px;
  width: 265px;
}

.screen-3 .text-wrapper-63 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15.5px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 15.5px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 20px;
}

.screen-3 .text-wrapper-64 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15.5px;
  font-weight: 500;
  left: 42px;
  letter-spacing: 0;
  line-height: 15.5px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 20px;
}

.screen-3 .text-wrapper-65 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15.5px;
  font-weight: 500;
  left: 85px;
  letter-spacing: 0;
  line-height: 15.5px;
  position: absolute;
  text-align: center;
  top: 1px;
  width: 20px;
}

.screen-3 .text-wrapper-66 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15.5px;
  font-weight: 500;
  left: 127px;
  letter-spacing: 0;
  line-height: 15.5px;
  position: absolute;
  text-align: center;
  top: 1px;
  width: 21px;
}

.screen-3 .text-wrapper-67 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15.5px;
  font-weight: 500;
  left: 167px;
  letter-spacing: 0;
  line-height: 15.5px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 20px;
}

.screen-3 .text-wrapper-68 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15.5px;
  font-weight: 500;
  left: 205px;
  letter-spacing: 0;
  line-height: 15.5px;
  position: absolute;
  text-align: center;
  top: 1px;
  width: 24px;
}

.screen-3 .text-wrapper-69 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15.5px;
  font-weight: 500;
  left: 245px;
  letter-spacing: 0;
  line-height: 15.5px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 20px;
}

.screen-3 .week-9 {
  height: 21px;
  left: 2px;
  position: absolute;
  top: 157px;
  width: 265px;
}

.screen-3 .text-wrapper-70 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15.5px;
  font-weight: 500;
  left: 42px;
  letter-spacing: 0;
  line-height: 15.5px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 22px;
}

.screen-3 .text-wrapper-71 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15.5px;
  font-weight: 500;
  left: 87px;
  letter-spacing: 0;
  line-height: 15.5px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 20px;
}

.screen-3 .text-wrapper-72 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15.5px;
  font-weight: 500;
  left: 128px;
  letter-spacing: 0;
  line-height: 15.5px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 21px;
}

.screen-3 .text-wrapper-73 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15.5px;
  font-weight: 500;
  left: 167px;
  letter-spacing: 0;
  line-height: 15.5px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 22px;
}

.screen-3 .text-wrapper-74 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15.5px;
  font-weight: 500;
  left: 205px;
  letter-spacing: 0;
  line-height: 15.5px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 22px;
}

.screen-3 .text-wrapper-75 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15.5px;
  font-weight: 500;
  left: 243px;
  letter-spacing: 0;
  line-height: 15.5px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 22px;
}

.screen-3 .week-10 {
  height: 21px;
  left: 1px;
  position: absolute;
  top: 196px;
  width: 270px;
}

.screen-3 .text-wrapper-76 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15.5px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 15.5px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 22px;
}

.screen-3 .text-wrapper-77 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15.5px;
  font-weight: 500;
  left: 45px;
  letter-spacing: 0;
  line-height: 15.5px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 21px;
}

.screen-3 .text-wrapper-78 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15.5px;
  font-weight: 500;
  left: 85px;
  letter-spacing: 0;
  line-height: 15.5px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 22px;
}

.screen-3 .text-wrapper-79 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15.5px;
  font-weight: 500;
  left: 128px;
  letter-spacing: 0;
  line-height: 15.5px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 22px;
}

.screen-3 .text-wrapper-80 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15.5px;
  font-weight: 500;
  left: 169px;
  letter-spacing: 0;
  line-height: 15.5px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 22px;
}

.screen-3 .text-wrapper-81 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15.5px;
  font-weight: 500;
  left: 207px;
  letter-spacing: 0;
  line-height: 15.5px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 20px;
}

.screen-3 .overlap-29 {
  border-radius: 16px;
  height: 197px;
  left: 168px;
  position: absolute;
  top: 641px;
  width: 803px;
}

.screen-3 .group-165 {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 3px 6px #00000029;
  height: 197px;
  left: 0;
  position: absolute;
  top: 0;
  width: 803px;
}

.screen-3 .overlap-30 {
  background-image: url(../../../static/img/7471743a2a9c967ba8f3211de36e7e1b-4.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 16px 0px 0px 16px;
  height: 197px;
  left: 0;
  position: absolute;
  top: 0;
  width: 219px;
}

.screen-3 .rectangle-24 {
  background-color: #005896;
  height: 67px;
  left: 0;
  position: absolute;
  top: 23px;
  width: 66px;
}

.screen-3 .group-166 {
  height: 43px;
  left: 13px;
  position: absolute;
  top: 36px;
  width: 42px;
}

.screen-3 .overlap-group-23 {
  height: 45px;
  position: relative;
}

.screen-3 .element-3 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 0;
  width: 42px;
}

.screen-3 .element-4 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 300;
  left: 0;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 23px;
  width: 35px;
}

.screen-3 .text-wrapper-82 {
  color: #fa612f;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 300;
  left: 245px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 30px;
  width: 58px;
}

.screen-3 .collaboration-e-3 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 245px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 56px;
  width: 336px;
}

.screen-3 .dots-three-2 {
  background-image: url(../../../static/img/vector-155.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 24px;
  left: 756px;
  opacity: 0.5;
  position: absolute;
  top: 16px;
  width: 24px;
}

.screen-3 .vector-16 {
  height: 2px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 2px;
}

.screen-3 .vector-17 {
  height: 2px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 2px;
}

.screen-3 .vector-18 {
  height: 2px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 2px;
}

.screen-3 .his-dolorem-habemus-8 {
  color: #999999;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 83px;
  left: 245px;
  letter-spacing: 0;
  line-height: 24px;
  overflow: hidden;
  position: absolute;
  top: 82px;
  width: 513px;
}

.screen-3 .group-167 {
  height: 18px;
  left: 718px;
  position: absolute;
  top: 160px;
  width: 67px;
}

.screen-3 .vector-19 {
  height: 18px;
  left: 26px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 18px;
}

.screen-3 .path-23 {
  height: 17px;
  left: 54px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 13px;
}

.screen-3 .group-168 {
  height: 17px;
  left: 0;
  position: absolute;
  top: 0;
  width: 17px;
}

.screen-3 .overlap-group-24 {
  height: 17px;
  position: relative;
}

.screen-3 .path-24 {
  height: 14px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: 14px;
}

.screen-3 .path-25 {
  height: 5px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 5px;
}

.screen-3 .overlap-31 {
  border-radius: 16px;
  height: 197px;
  left: 168px;
  position: absolute;
  top: 876px;
  width: 803px;
}

.screen-3 .overlap-32 {
  background-image: url(../../../static/img/screenshot-2025-06-19-at-10-23-07-am-2.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 16px 0px 0px 16px;
  height: 197px;
  left: 0;
  position: absolute;
  top: 0;
  width: 219px;
}

.screen-3 .collaboration-e-4 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 245px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 56px;
  width: 336px;
}

.screen-3 .his-dolorem-habemus-9 {
  color: #999999;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 83px;
  left: 245px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 82px;
  width: 513px;
}

.screen-3 .group-169 {
  height: 18px;
  left: 718px;
  position: absolute;
  top: 156px;
  width: 67px;
}

.screen-3 .overlap-33 {
  border-radius: 16px;
  height: 197px;
  left: 168px;
  position: absolute;
  top: 1111px;
  width: 803px;
}

.screen-3 .overlap-34 {
  background-image: url(../../../static/img/7471743a2a9c967ba8f3211de36e7e1b-5.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 16px 0px 0px 16px;
  height: 198px;
  left: 0;
  position: absolute;
  top: 0;
  width: 220px;
}

.screen-3 .rectangle-25 {
  background-color: #005896;
  height: 67px;
  left: 0;
  position: absolute;
  top: 24px;
  width: 66px;
}

.screen-3 .group-170 {
  height: 43px;
  left: 14px;
  position: absolute;
  top: 36px;
  width: 42px;
}

.screen-3 .group-171 {
  height: 18px;
  left: 718px;
  position: absolute;
  top: 161px;
  width: 67px;
}

.screen-3 .overlap-35 {
  border-radius: 16px;
  height: 197px;
  left: 168px;
  position: absolute;
  top: 1346px;
  width: 803px;
}

.screen-3 .overlap-36 {
  background-image: url(../../../static/img/screenshot-2025-06-19-at-10-32-13-am-2.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 16px 0px 0px 16px;
  height: 198px;
  left: 0;
  position: absolute;
  top: 0;
  width: 220px;
}

.screen-3 .group-172 {
  height: 18px;
  left: 718px;
  position: absolute;
  top: 165px;
  width: 67px;
}

.screen-3 .overlap-37 {
  border-radius: 16px;
  height: 197px;
  left: 168px;
  position: absolute;
  top: 1581px;
  width: 803px;
}

.screen-3 .overlap-38 {
  background-image: url(../../../static/img/images-2.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 16px 0px 0px 16px;
  height: 198px;
  left: 0;
  position: absolute;
  top: 0;
  width: 220px;
}

.screen-3 .group-173 {
  height: 18px;
  left: 718px;
  position: absolute;
  top: 166px;
  width: 67px;
}

.screen-3 .group-174 {
  height: 25px;
  left: 168px;
  position: absolute;
  top: 597px;
  width: 149px;
}

.screen-3 .overlap-39 {
  height: 27px;
  position: relative;
}

.screen-3 .thursday-july-2 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 0;
  width: 149px;
}

.screen-3 .arrows-4 {
  height: 7px;
  left: 103px;
  position: absolute;
  top: 9px;
  width: 25px;
}

.screen-3 .previous-4 {
  height: 9px;
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 9px;
}

.screen-3 .next-4 {
  height: 9px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 9px;
}

.screen-3 .group-175 {
  height: 25px;
  left: 168px;
  position: absolute;
  top: 1841px;
  width: 149px;
}

.screen-3 .footer-menu-3 {
  background-color: #0c141d;
  height: 492px;
  left: 0;
  position: absolute;
  top: 1929px;
  width: 1440px;
}

.screen-3 .footer-4 {
  background-color: transparent;
  height: 332px;
  left: 112px;
  position: relative;
  top: 92px;
  width: 1216px;
}

.screen-3 .cel-10 {
  height: 162px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1216px;
}

.screen-3 .logo-text-4 {
  height: 133px;
  left: 0;
  position: absolute;
  top: 0;
  width: 235px;
}

.screen-3 .VENTURE-8 {
  color: #ffffff;
  font-family: "Sora", Helvetica;
  font-size: 22px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: -4px;
  width: 235px;
}

.screen-3 .feel-and-enjoy-the-4 {
  color: #98a2b3;
  font-family: "Switzer-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 77px;
  width: 200px;
}

.screen-3 .menu-17 {
  height: 159px;
  left: 1050px;
  position: absolute;
  top: 3px;
  width: 166px;
}

.screen-3 .content-8 {
  height: 159px;
  position: relative;
  width: 168px;
}

.screen-3 .supports-4 {
  color: #ffffff;
  font-family: "Switzer-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: -5px;
  white-space: nowrap;
  width: 168px;
}

.screen-3 .cel-11 {
  height: 102px;
  left: 0;
  position: absolute;
  top: 57px;
  width: 168px;
}

.screen-3 .help-4 {
  color: #98a2b3;
  font-family: "Switzer-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: -4px;
  white-space: nowrap;
  width: 168px;
}

.screen-3 .location-4 {
  color: #98a2b3;
  font-family: "Switzer-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 34px;
  white-space: nowrap;
  width: 168px;
}

.screen-3 .employees-4 {
  color: #98a2b3;
  font-family: "Switzer-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 74px;
  white-space: nowrap;
  width: 168px;
}

.screen-3 .cel-12 {
  height: 52px;
  left: 0;
  position: absolute;
  top: 280px;
  width: 1218px;
}

.screen-3 .frame-4 {
  height: 27px;
  left: 0;
  position: absolute;
  top: 25px;
  width: 366px;
}

.screen-3 .terms-condditions-4 {
  -webkit-text-stroke: 1px #707070;
  color: #98a2b3;
  font-family: "Switzer-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: -5px;
  white-space: nowrap;
  width: 193px;
}

.screen-3 .ellipse-6 {
  background-color: #d9d9d9;
  border: 1px solid;
  border-color: #707070;
  border-radius: 3px;
  height: 6px;
  left: 211px;
  position: absolute;
  top: 7px;
  width: 6px;
}

.screen-3 .text-wrapper-83 {
  -webkit-text-stroke: 1px #707070;
  color: #98a2b3;
  font-family: "Switzer-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 237px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: -5px;
  white-space: nowrap;
  width: 129px;
}

.screen-3 .element-venture-all-4 {
  -webkit-text-stroke: 1px #707070;
  color: #98a2b3;
  font-family: "Switzer-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 909px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 20px;
  white-space: nowrap;
  width: 309px;
}

.screen-3 .group-176 {
  height: 48px;
  left: 241px;
  position: absolute;
  top: 452px;
  width: 958px;
}

.screen-3 .light-field-default-14 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #ebf0f4;
  border-radius: 16px;
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 774px;
}

.screen-3 .placeholder-12 {
  color: #58617b;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 15px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}

.screen-3 .light-button-primary-12 {
  background-color: #005896;
  border-radius: 15px;
  display: block;
  height: 48px;
  left: 788px;
  position: absolute;
  top: 0;
  width: 170px;
}

.screen-3 .button-16 {
  all: unset;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 20px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 12px;
  white-space: nowrap;
}

.screen-3 .group-177 {
  height: 20px;
  left: 136px;
  object-fit: cover;
  position: absolute;
  top: 15px;
  width: 20px;
}
