.div-wrapper {
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.div-wrapper .the-berg-assetupload-3 {
  background-color: #fafafa;
  height: 4504px;
  overflow: hidden;
  width: 1440px;
}

.div-wrapper .overlap-15 {
  height: 4565px;
  left: -5px;
  position: relative;
  width: 1446px;
}

.div-wrapper .image-slider-2 {
  height: 604px;
  left: 144px;
  position: absolute;
  top: 597px;
  width: 359px;
}

.div-wrapper .overlap-16 {
  height: 604px;
  position: relative;
}

.div-wrapper .group-72 {
  height: 604px;
  left: 0;
  position: absolute;
  top: 0;
  width: 359px;
}

.div-wrapper .group-73 {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 3px 6px #00000029;
  height: 604px;
  left: 0;
  position: absolute;
  top: 0;
  width: 354px;
}

.div-wrapper .future-of-customer-s-2 {
  color: #333333;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 38px;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  top: 435px;
  white-space: nowrap;
}

.div-wrapper .img-2 {
  border-radius: 16px 16px 0px 0px;
  height: 403px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 354px;
}

.div-wrapper .ainara-vergara-2 {
  color: #333333;
  font-family: "DM Sans", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 38px;
  letter-spacing: 0;
  line-height: 19px;
  position: absolute;
  top: 474px;
  white-space: nowrap;
}

.div-wrapper .his-dolorem-habemus-6 {
  color: #999999;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  height: 61px;
  left: 38px;
  letter-spacing: 0;
  line-height: 24px;
  overflow: hidden;
  position: absolute;
  top: 495px;
  width: 277px;
}

.div-wrapper .text-wrapper-42 {
  font-family: "DM Sans", Helvetica;
  font-weight: 400;
}

.div-wrapper .text-wrapper-43 {
  color: #fa612f;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
}

.div-wrapper .group-74 {
  height: 204px;
  left: 75px;
  position: absolute;
  top: 113px;
  width: 204px;
}

.div-wrapper .ellipse-4 {
  border-radius: 102px;
  height: 204px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 204px;
}

.div-wrapper .group-75 {
  height: 41px;
  left: 334px;
  position: absolute;
  top: 194px;
  width: 26px;
}

.div-wrapper .group-76 {
  height: 41px;
  transform: rotate(180deg);
}

.div-wrapper .overlap-group-14 {
  height: 42px;
  position: relative;
  top: -1px;
  width: 26px;
}

.div-wrapper .exclusion-3 {
  height: 42px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 22px;
}

.div-wrapper .chev-down-2 {
  height: 24px;
  left: 0;
  position: absolute;
  top: 9px;
  transform: rotate(90deg);
  width: 24px;
}

.div-wrapper .icon-5 {
  height: 14px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  transform: rotate(-270deg);
  width: 8px;
}

.div-wrapper .group-77 {
  height: 572px;
  left: 241px;
  position: absolute;
  top: 15px;
  width: 113px;
}

.div-wrapper .group-78 {
  height: 36px;
  left: 0;
  position: absolute;
  top: 0;
  width: 113px;
}

.div-wrapper .group-79 {
  background-color: #00c134;
  height: 36px;
  position: relative;
}

.div-wrapper .meeting-2 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 700;
  height: 24px;
  left: 14px;
  letter-spacing: 0;
  line-height: 14px;
  overflow: hidden;
  position: absolute;
  top: 8px;
  width: 86px;
}

.div-wrapper .group-80 {
  height: 18px;
  left: 27px;
  position: absolute;
  top: 554px;
  width: 67px;
}

.div-wrapper .vector-11 {
  height: 18px;
  left: 26px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 18px;
}

.div-wrapper .path-15 {
  height: 17px;
  left: 54px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 13px;
}

.div-wrapper .group-81 {
  height: 17px;
  left: 0;
  position: absolute;
  top: 0;
  width: 17px;
}

.div-wrapper .overlap-group-15 {
  height: 17px;
  position: relative;
}

.div-wrapper .path-16 {
  height: 14px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: 14px;
}

.div-wrapper .path-17 {
  height: 5px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 5px;
}

.div-wrapper .rectangle-10 {
  height: 268px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1440px;
}

.div-wrapper .rectangle-11 {
  background: linear-gradient(
    180deg,
    #004e8b 0%,
    rgba(0, 86, 151, 0.1) 74.46%,
    rgba(0, 87, 152, 0) 100%
  );
  height: 268px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.div-wrapper .header-3 {
  background-color: transparent;
  height: 96px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.div-wrapper .search-2 {
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 20px;
  height: 40px;
  left: 1088px;
  position: absolute;
  top: 28px;
  width: 40px;
}

.div-wrapper .icon-6 {
  height: 24px;
  left: 7px;
  position: relative;
  top: 7px;
  width: 24px;
}

.div-wrapper .vector-12 {
  height: 20px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 20px;
}

.div-wrapper .menu-9 {
  height: 25px;
  left: 894px;
  position: absolute;
  top: 39px;
  width: 163px;
}

.div-wrapper .destination-3 {
  color: #ffffff;
  font-family: "Switzer-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: -4px;
  white-space: nowrap;
  width: 96px;
}

.div-wrapper .tours-3 {
  color: #ffffff;
  font-family: "Switzer-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 114px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: -4px;
  white-space: nowrap;
  width: 49px;
}

.div-wrapper .content-5 {
  height: 35px;
  left: 1150px;
  position: absolute;
  top: 33px;
  width: 248px;
}

.div-wrapper .button-12 {
  all: unset;
  box-sizing: border-box;
  height: 35px;
  position: relative;
}

.div-wrapper .sign-up-3 {
  color: #ffffff;
  font-family: "Switzer-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  text-align: center;
  top: 3px;
  white-space: nowrap;
  width: 247px;
}

.div-wrapper .VENTURE-5 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 112px;
  letter-spacing: 0;
  line-height: 33px;
  position: absolute;
  top: 25px;
  white-space: nowrap;
  width: 379px;
}

.div-wrapper .group-82 {
  height: 247px;
  left: 1095px;
  position: absolute;
  top: 134px;
  width: 260px;
}

.div-wrapper .group-83 {
  background-image: url(../../../static/img/group-50-25.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 247px;
  overflow: hidden;
}

.div-wrapper .overlap-group-16 {
  height: 247px;
  position: relative;
  width: 260px;
}

.div-wrapper .group-84 {
  background-image: url(../../../static/img/group-52-12.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 244px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 257px;
}

.div-wrapper .group-85 {
  background-image: url(../../../static/img/group-54-12.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 247px;
  left: 0;
  position: absolute;
  top: 0;
  width: 260px;
}

.div-wrapper .footer-menu-2 {
  background-color: #0c141d;
  height: 492px;
  left: 5px;
  position: absolute;
  top: 4012px;
  width: 1440px;
}

.div-wrapper .footer-3 {
  background-color: transparent;
  height: 332px;
  left: 112px;
  position: relative;
  top: 92px;
  width: 1216px;
}

.div-wrapper .cel-7 {
  height: 162px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1216px;
}

.div-wrapper .logo-text-3 {
  height: 133px;
  left: 0;
  position: absolute;
  top: 0;
  width: 235px;
}

.div-wrapper .VENTURE-6 {
  color: #ffffff;
  font-family: "Sora", Helvetica;
  font-size: 22px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: -4px;
  width: 235px;
}

.div-wrapper .feel-and-enjoy-the-3 {
  color: #98a2b3;
  font-family: "Switzer-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 77px;
  width: 200px;
}

.div-wrapper .menu-10 {
  height: 159px;
  left: 1050px;
  position: absolute;
  top: 3px;
  width: 166px;
}

.div-wrapper .content-6 {
  height: 159px;
  position: relative;
  width: 168px;
}

.div-wrapper .supports-3 {
  color: #ffffff;
  font-family: "Switzer-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: -5px;
  white-space: nowrap;
  width: 168px;
}

.div-wrapper .cel-8 {
  height: 102px;
  left: 0;
  position: absolute;
  top: 57px;
  width: 168px;
}

.div-wrapper .help-3 {
  color: #98a2b3;
  font-family: "Switzer-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: -4px;
  white-space: nowrap;
  width: 168px;
}

.div-wrapper .location-3 {
  color: #98a2b3;
  font-family: "Switzer-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 34px;
  white-space: nowrap;
  width: 168px;
}

.div-wrapper .employees-3 {
  color: #98a2b3;
  font-family: "Switzer-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 74px;
  white-space: nowrap;
  width: 168px;
}

.div-wrapper .cel-9 {
  height: 52px;
  left: 0;
  position: absolute;
  top: 280px;
  width: 1218px;
}

.div-wrapper .frame-3 {
  height: 27px;
  left: 0;
  position: absolute;
  top: 25px;
  width: 366px;
}

.div-wrapper .terms-condditions-3 {
  -webkit-text-stroke: 1px #707070;
  color: #98a2b3;
  font-family: "Switzer-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: -5px;
  white-space: nowrap;
  width: 193px;
}

.div-wrapper .ellipse-5 {
  background-color: #d9d9d9;
  border: 1px solid;
  border-color: #707070;
  border-radius: 3px;
  height: 6px;
  left: 211px;
  position: absolute;
  top: 7px;
  width: 6px;
}

.div-wrapper .text-wrapper-44 {
  -webkit-text-stroke: 1px #707070;
  color: #98a2b3;
  font-family: "Switzer-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 237px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: -5px;
  white-space: nowrap;
  width: 129px;
}

.div-wrapper .element-venture-all-3 {
  -webkit-text-stroke: 1px #707070;
  color: #98a2b3;
  font-family: "Switzer-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 909px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 20px;
  white-space: nowrap;
  width: 309px;
}

.div-wrapper .group-86 {
  height: 56px;
  left: 575px;
  position: absolute;
  top: 372px;
  width: 302px;
}

.div-wrapper .we-craft-digital-3 {
  color: #005798;
  font-family: "Poppins", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 80px;
  position: absolute;
  text-align: center;
  top: -12px;
  white-space: nowrap;
}

.div-wrapper .group-87 {
  height: 585px;
  left: 144px;
  position: absolute;
  top: 1235px;
  width: 364px;
}

.div-wrapper .overlap-17 {
  height: 585px;
  position: relative;
}

.div-wrapper .group-88 {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 3px 6px #00000029;
  height: 585px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 354px;
}

.div-wrapper .group-89 {
  height: 41px;
  left: 0;
  position: absolute;
  top: 194px;
  width: 364px;
}

.div-wrapper .group-90 {
  height: 41px;
  left: 0;
  position: absolute;
  top: 0;
  width: 26px;
}

.div-wrapper .overlap-group-17 {
  height: 42px;
  position: relative;
  top: -1px;
}

.div-wrapper .exclusion-4 {
  height: 42px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 22px;
}

.div-wrapper .icon-7 {
  height: 14px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  transform: rotate(-90deg);
  width: 8px;
}

.div-wrapper .group-91 {
  height: 41px;
  left: 338px;
  position: absolute;
  top: 0;
  transform: rotate(180deg);
  width: 26px;
}

.div-wrapper .group-92 {
  height: 585px;
  left: 548px;
  position: absolute;
  top: 1235px;
  width: 354px;
}

.div-wrapper .group-93 {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 3px 6px #00000029;
  height: 585px;
  position: relative;
}

.div-wrapper .group-94 {
  height: 585px;
  left: 942px;
  position: absolute;
  top: 1235px;
  width: 359px;
}

.div-wrapper .group-95 {
  height: 585px;
}

.div-wrapper .overlap-18 {
  height: 585px;
  position: relative;
  width: 359px;
}

.div-wrapper .rectangle-12 {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 3px 6px #00000029;
  height: 585px;
  left: 0;
  position: absolute;
  top: 0;
  width: 354px;
}

.div-wrapper .group-96 {
  height: 41px;
  left: 334px;
  position: absolute;
  top: 181px;
  width: 26px;
}

.div-wrapper .group-97 {
  height: 585px;
  left: 144px;
  position: absolute;
  top: 1873px;
  width: 354px;
}

.div-wrapper .group-98 {
  height: 585px;
  left: 546px;
  position: absolute;
  top: 1873px;
  width: 359px;
}

.div-wrapper .group-99 {
  height: 585px;
  left: 945px;
  position: absolute;
  top: 1873px;
  width: 359px;
}

.div-wrapper .group-100 {
  height: 585px;
  left: 144px;
  position: absolute;
  top: 2510px;
  width: 359px;
}

.div-wrapper .group-101 {
  height: 585px;
  left: 548px;
  position: absolute;
  top: 2510px;
  width: 354px;
}

.div-wrapper .group-102 {
  height: 585px;
  left: 950px;
  position: absolute;
  top: 2510px;
  width: 354px;
}

.div-wrapper .group-103 {
  height: 585px;
  left: 144px;
  position: absolute;
  top: 3148px;
  width: 354px;
}

.div-wrapper .group-104 {
  height: 585px;
  left: 544px;
  position: absolute;
  top: 3148px;
  width: 354px;
}

.div-wrapper .group-105 {
  height: 48px;
  left: 246px;
  position: absolute;
  top: 452px;
  width: 958px;
}

.div-wrapper .light-field-default-9 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #ebf0f4;
  border-radius: 16px;
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 774px;
}

.div-wrapper .placeholder-4 {
  color: #58617b;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 15px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}

.div-wrapper .light-button-primary-10 {
  background-color: #005896;
  border-radius: 15px;
  height: 48px;
  left: 788px;
  position: absolute;
  top: 0;
  width: 170px;
}

.div-wrapper .button-13 {
  all: unset;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 20px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 12px;
  white-space: nowrap;
}

.div-wrapper .group-106 {
  height: 20px;
  left: 136px;
  object-fit: cover;
  position: absolute;
  top: 15px;
  width: 20px;
}

.div-wrapper .group-107 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #ebf0f4;
  border-radius: 16px;
  height: 48px;
  left: 448px;
  position: absolute;
  top: 524px;
  width: 54px;
}

.div-wrapper .group-108 {
  height: 29px;
  left: 12px;
  position: relative;
  top: 9px;
  width: 29px;
}

.div-wrapper .overlap-group-18 {
  height: 29px;
  position: relative;
}

.div-wrapper .path-18 {
  height: 16px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 16px;
}

.div-wrapper .path-19 {
  height: 16px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 16px;
}

.div-wrapper .light-field-default-10 {
  background-color: #fa612f;
  border: 1px solid;
  border-color: #ebf0f4;
  border-radius: 16px;
  height: 49px;
  left: 520px;
  position: absolute;
  top: 524px;
  width: 182px;
}

.div-wrapper .icon-text-6 {
  height: 31px;
  left: 14px;
  position: relative;
  top: 9px;
  width: 107px;
}

.div-wrapper .menu-11 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 22px;
  font-weight: 500;
  left: 46px;
  letter-spacing: 0.16px;
  line-height: 22px;
  position: absolute;
  top: 5px;
  white-space: nowrap;
}

.div-wrapper .group-109 {
  height: 29px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 29px;
}

.div-wrapper .light-field-default-11 {
  background-color: #d8d8d8;
  border: 1px solid;
  border-color: #ebf0f4;
  border-radius: 16px;
  height: 49px;
  left: 720px;
  position: absolute;
  top: 524px;
  width: 182px;
}

.div-wrapper .icon-text-7 {
  height: 31px;
  left: 11px;
  position: relative;
  top: 9px;
  width: 124px;
}

.div-wrapper .menu-12 {
  color: #92929d;
  font-family: "Poppins", Helvetica;
  font-size: 22px;
  font-weight: 500;
  left: 49px;
  letter-spacing: 0.16px;
  line-height: 22px;
  position: absolute;
  top: 4px;
  white-space: nowrap;
}

.div-wrapper .ic-dashboard-4 {
  height: 28px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 29px;
}

.div-wrapper .group-110 {
  height: 603px;
  left: 543px;
  position: absolute;
  top: 597px;
  width: 364px;
}

.div-wrapper .overlap-19 {
  height: 603px;
  position: relative;
}

.div-wrapper .group-111 {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 3px 6px #00000029;
  height: 603px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 354px;
}

.div-wrapper .group-112 {
  height: 572px;
  left: 246px;
  position: absolute;
  top: 15px;
  width: 113px;
}

.div-wrapper .group-113 {
  height: 604px;
  left: 942px;
  position: absolute;
  top: 597px;
  width: 364px;
}

.div-wrapper .group-114 {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 3px 6px #00000029;
  height: 604px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 354px;
}

.div-wrapper .rectangle-13 {
  -webkit-backdrop-filter: blur(8.06px) brightness(69.61%);
  backdrop-filter: blur(8.06px) brightness(69.61%);
  height: 4565px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 1441px;
}

.div-wrapper .group-115 {
  background-color: #fafafa;
  border-radius: 16px;
  box-shadow: 0px 3px 6px #00000029;
  display: block;
  height: 744px;
  left: 304px;
  position: absolute;
  top: 362px;
  width: 843px;
}

.div-wrapper .group-116 {
  height: 24px;
  left: 44px;
  position: absolute;
  top: 46px;
  width: 91px;
}

.div-wrapper .his-dolorem-habemus-7 {
  color: #fa612f;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  height: 25px;
  left: 29px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: -3px;
  white-space: nowrap;
  width: 62px;
}

.div-wrapper .icon-8 {
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(180deg);
  width: 24px;
}

.div-wrapper .vector-13 {
  height: 15px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 4px;
  transform: rotate(-180deg);
  width: 18px;
}

.div-wrapper .group-117 {
  background-color: #fa612f;
  border-radius: 16px;
  height: 32px;
  left: 794px;
  position: absolute;
  top: 14px;
  width: 32px;
}

.div-wrapper .path-20 {
  height: 16px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 16px;
}

.div-wrapper .light-button-primary-11 {
  background-color: #92929d;
  border-radius: 15px;
  height: 48px;
  left: 331px;
  position: absolute;
  top: 648px;
  width: 189px;
}

.div-wrapper .button-14 {
  all: unset;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 73px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 12px;
  white-space: nowrap;
}

.div-wrapper .group-118 {
  height: 444px;
  left: 42px;
  position: absolute;
  top: 158px;
  width: 767px;
}

.div-wrapper .section-button {
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 265px;
}

.div-wrapper .overlap-20 {
  border-radius: 16px;
  height: 48px;
  position: relative;
}

.div-wrapper .group-119 {
  background-color: #0062ff;
  border: 1px solid;
  border-color: #ebf0f4;
  border-radius: 16px;
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 265px;
}

.div-wrapper .placeholder-5 {
  color: #ffffff;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 15px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}

.div-wrapper .group-120 {
  height: 20px;
  left: 227px;
  position: absolute;
  top: 14px;
  transform: rotate(45.00deg);
  width: 20px;
}

.div-wrapper .overlap-group-19 {
  height: 20px;
  position: relative;
}

.div-wrapper .rectangle-14 {
  background-color: #ffffff;
  height: 20px;
  left: 8px;
  position: absolute;
  top: 0;
  width: 4px;
}

.div-wrapper .rectangle-15 {
  background-color: #ffffff;
  height: 20px;
  left: 8px;
  position: absolute;
  top: 0;
  transform: rotate(-90deg);
  width: 4px;
}

.div-wrapper .group-121 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #ebf0f4;
  border-radius: 16px;
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 265px;
}

.div-wrapper .placeholder-6 {
  color: #92929d;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 15px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}

.div-wrapper .group-122 {
  height: 20px;
  left: 227px;
  position: absolute;
  top: 14px;
  width: 20px;
}

.div-wrapper .rectangle-16 {
  background-color: #9f9f9f;
  height: 20px;
  left: 8px;
  position: absolute;
  top: 0;
  width: 4px;
}

.div-wrapper .rectangle-17 {
  background-color: #9f9f9f;
  height: 20px;
  left: 8px;
  position: absolute;
  top: 0;
  transform: rotate(-90deg);
  width: 4px;
}

.div-wrapper .section-button-2 {
  height: 48px;
  left: 0;
  position: absolute;
  top: 132px;
  width: 237px;
}

.div-wrapper .group-123 {
  background-color: #0062ff;
  border: 1px solid;
  border-color: #ebf0f4;
  border-radius: 16px;
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 237px;
}

.div-wrapper .overlap-21 {
  height: 28px;
  left: 16px;
  position: relative;
  top: 11px;
  width: 208px;
}

.div-wrapper .placeholder-7 {
  color: #ffffff;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 2px;
  white-space: nowrap;
}

.div-wrapper .group-124 {
  height: 20px;
  left: 184px;
  position: absolute;
  top: 4px;
  transform: rotate(45.00deg);
  width: 20px;
}

.div-wrapper .group-125 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #ebf0f4;
  border-radius: 16px;
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 237px;
}

.div-wrapper .group-126 {
  height: 20px;
  left: 199px;
  position: absolute;
  top: 14px;
  width: 20px;
}

.div-wrapper .section-button-3 {
  height: 48px;
  left: 0;
  position: absolute;
  top: 198px;
  width: 237px;
}

.div-wrapper .section-button-4 {
  height: 48px;
  left: 407px;
  position: absolute;
  top: 330px;
  width: 209px;
}

.div-wrapper .overlap-22 {
  height: 48px;
  position: relative;
  width: 211px;
}

.div-wrapper .group-127 {
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 211px;
}

.div-wrapper .overlap-23 {
  height: 48px;
  position: relative;
}

.div-wrapper .rectangle-18 {
  background-color: #0062ff;
  border: 1px solid;
  border-color: #ebf0f4;
  border-radius: 16px;
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 209px;
}

.div-wrapper .placeholder-8 {
  color: #ffffff;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 8px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}

.div-wrapper .group-128 {
  height: 20px;
  left: 172px;
  position: absolute;
  top: 15px;
  transform: rotate(45.00deg);
  width: 20px;
}

.div-wrapper .group-129 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #ebf0f4;
  border-radius: 16px;
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 209px;
}

.div-wrapper .group-130 {
  height: 20px;
  left: 171px;
  position: absolute;
  top: 14px;
  width: 20px;
}

.div-wrapper .section-button-5 {
  height: 48px;
  left: 374px;
  position: absolute;
  top: 396px;
  width: 209px;
}

.div-wrapper .section-button-6 {
  height: 48px;
  left: 401px;
  position: absolute;
  top: 132px;
  width: 254px;
}

.div-wrapper .group-131 {
  background-color: #0062ff;
  border: 1px solid;
  border-color: #ebf0f4;
  border-radius: 16px;
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 254px;
}

.div-wrapper .overlap-24 {
  height: 28px;
  left: 16px;
  position: relative;
  top: 11px;
  width: 225px;
}

.div-wrapper .group-132 {
  height: 20px;
  left: 201px;
  position: absolute;
  top: 4px;
  transform: rotate(45.00deg);
  width: 20px;
}

.div-wrapper .group-133 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #ebf0f4;
  border-radius: 16px;
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 254px;
}

.div-wrapper .group-134 {
  height: 20px;
  left: 216px;
  position: absolute;
  top: 14px;
  width: 20px;
}

.div-wrapper .section-button-7 {
  height: 48px;
  left: 190px;
  position: absolute;
  top: 66px;
  width: 215px;
}

.div-wrapper .overlap-25 {
  height: 48px;
  position: relative;
  width: 217px;
}

.div-wrapper .group-135 {
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 217px;
}

.div-wrapper .rectangle-19 {
  background-color: #0062ff;
  border: 1px solid;
  border-color: #ebf0f4;
  border-radius: 16px;
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 215px;
}

.div-wrapper .placeholder-9 {
  color: #ffffff;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 14px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}

.div-wrapper .group-136 {
  height: 20px;
  left: 178px;
  position: absolute;
  top: 15px;
  transform: rotate(45.00deg);
  width: 20px;
}

.div-wrapper .group-137 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #ebf0f4;
  border-radius: 16px;
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 215px;
}

.div-wrapper .group-138 {
  height: 20px;
  left: 177px;
  position: absolute;
  top: 14px;
  width: 20px;
}

.div-wrapper .section-button-8 {
  height: 48px;
  left: 420px;
  position: absolute;
  top: 66px;
  width: 215px;
}

.div-wrapper .section-button-9 {
  height: 48px;
  left: 459px;
  position: absolute;
  top: 198px;
  width: 215px;
}

.div-wrapper .section-button-10 {
  height: 48px;
  left: 435px;
  position: absolute;
  top: 0;
  width: 332px;
}

.div-wrapper .group-139 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #ebf0f4;
  border-radius: 16px;
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 332px;
}

.div-wrapper .group-140 {
  height: 20px;
  left: 298px;
  position: absolute;
  top: 14px;
  width: 20px;
}

.div-wrapper .section-button-11 {
  height: 48px;
  left: 350px;
  position: absolute;
  top: 264px;
  width: 277px;
}

.div-wrapper .group-141 {
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 212px;
}

.div-wrapper .rectangle-20 {
  background-color: #0062ff;
  border: 1px solid;
  border-color: #ebf0f4;
  border-radius: 16px;
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 210px;
}

.div-wrapper .placeholder-10 {
  color: #ffffff;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 9px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}

.div-wrapper .group-142 {
  height: 20px;
  left: 173px;
  position: absolute;
  top: 15px;
  transform: rotate(45.00deg);
  width: 20px;
}

.div-wrapper .group-143 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #ebf0f4;
  border-radius: 16px;
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 277px;
}

.div-wrapper .group-144 {
  height: 20px;
  left: 243px;
  position: absolute;
  top: 14px;
  width: 20px;
}

.div-wrapper .section-button-12 {
  height: 48px;
  left: 124px;
  position: absolute;
  top: 396px;
  width: 242px;
}

.div-wrapper .group-145 {
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 203px;
}

.div-wrapper .rectangle-21 {
  background-color: #0062ff;
  border: 1px solid;
  border-color: #ebf0f4;
  border-radius: 16px;
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 175px;
}

.div-wrapper .placeholder-11 {
  color: #ffffff;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}

.div-wrapper .group-146 {
  height: 20px;
  left: 138px;
  position: absolute;
  top: 15px;
  transform: rotate(45.00deg);
  width: 20px;
}

.div-wrapper .group-147 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #ebf0f4;
  border-radius: 16px;
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 242px;
}

.div-wrapper .group-148 {
  height: 20px;
  left: 208px;
  position: absolute;
  top: 14px;
  width: 20px;
}

.div-wrapper .section-button-13 {
  height: 48px;
  left: 281px;
  position: absolute;
  top: 0;
  width: 138px;
}

.div-wrapper .group-149 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #ebf0f4;
  border-radius: 16px;
  height: 48px;
  position: relative;
}

.div-wrapper .group-150 {
  height: 20px;
  left: 100px;
  position: absolute;
  top: 14px;
  width: 20px;
}

.div-wrapper .section-button-14 {
  height: 48px;
  left: 253px;
  position: absolute;
  top: 132px;
  width: 138px;
}

.div-wrapper .section-button-15 {
  height: 48px;
  left: 0;
  position: absolute;
  top: 66px;
  width: 175px;
}

.div-wrapper .group-151 {
  height: 20px;
  left: 137px;
  position: absolute;
  top: 14px;
  width: 20px;
}

.div-wrapper .section-button-16 {
  height: 48px;
  left: 253px;
  position: absolute;
  top: 198px;
  width: 190px;
}

.div-wrapper .group-152 {
  height: 20px;
  left: 152px;
  position: absolute;
  top: 14px;
  width: 20px;
}

.div-wrapper .section-button-17 {
  height: 48px;
  left: 214px;
  position: absolute;
  top: 330px;
  width: 177px;
}

.div-wrapper .group-153 {
  height: 20px;
  left: 139px;
  position: absolute;
  top: 14px;
  width: 20px;
}

.div-wrapper .section-button-18 {
  height: 48px;
  left: 0;
  position: absolute;
  top: 264px;
  width: 190px;
}

.div-wrapper .section-button-19 {
  height: 48px;
  left: 0;
  position: absolute;
  top: 330px;
  width: 198px;
}

.div-wrapper .group-154 {
  height: 20px;
  left: 160px;
  position: absolute;
  top: 14px;
  width: 20px;
}

.div-wrapper .section-button-20 {
  height: 48px;
  left: 206px;
  position: absolute;
  top: 264px;
  width: 128px;
}

.div-wrapper .group-155 {
  height: 20px;
  left: 90px;
  position: absolute;
  top: 14px;
  width: 20px;
}

.div-wrapper .section-button-21 {
  height: 48px;
  left: 0;
  position: absolute;
  top: 396px;
  width: 110px;
}

.div-wrapper .group-156 {
  height: 20px;
  left: 72px;
  position: absolute;
  top: 14px;
  width: 20px;
}

.div-wrapper .icon-text-8 {
  height: 31px;
  left: 42px;
  position: absolute;
  top: 106px;
  width: 146px;
}

.div-wrapper .menu-13 {
  color: #171725;
  font-family: "Poppins", Helvetica;
  font-size: 22px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0.16px;
  line-height: 22px;
  position: absolute;
  top: 4px;
  white-space: nowrap;
}
